datasets
evaluate
fairscale
llama-stack
matplotlib
numpy
pandas
peft
python-dotenv
PyTsetlinMachineCUDA
pytorch-lightning
rouge_score
scikit_learn
scipy
tiktoken
torch
# torchtext
# torchvision
torchmetrics
tqdm
transformers